<div class="page-header">
  <%= link_to new_product_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Product
  <% end %>
  <h1>Products</h1>
</div>

<div class="table-responsive">
  <table id="products" class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Sku</th>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
  </table>
</div>
